*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(60px, 6%) 1fr minmax(30px, 4%);
  overflow-x: hidden;
  font-family: "Ubuntu";
}

:root {
  --black: black;
  --dark: rgb(10, 10, 32);
  --dark-green: darkgreen;
  --gray: #444;
  --light: rgb(220, 220, 220);
  --light-gray: lightgray;
  --light-blue: rgb(150, 179, 218);
  --light-green: rgb(125, 228, 125);

  --marker-color-red: rgb(223, 24, 64);
  --marker-color-orange: rgb(202, 123, 19);
  --marker-color-yellow: rgb(207, 204, 22);
  --marker-color-green: rgb(27, 204, 80);
  --marker-color-blue: rgb(27, 119, 211);
  --marker-color-purple: rgb(136, 26, 209);

  --background-red: rgba(223, 24, 64, 0.3);
  --background-orange: rgba(202, 123, 19, 0.3);
  --background-yellow: rgba(207, 204, 22, 0.3);
  --background-green: rgba(27, 204, 80, 0.3);
  --background-blue: rgba(27, 119, 211, 0.3);
  --background-purple: rgba(136, 26, 209, 0.3);


  --player-card-primary: rgb(34, 48, 65);
  --gradient-red: rgb(107, 33, 49);
  --gradient-dark: var(--dark);
}

.header,
.footer {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr minmax(250px, 300px) minmax(250px, 300px) 1fr;
  grid-template-rows: minmax(36px, minmax(30%, 200px)) minmax(500px, minmax(min-content, calc(60% - 40px))) minmax(36px, minmax(20%, 61px));
  row-gap: 20px;
  align-content: center;
  perspective: 1000px;
  background: var(--gradient-red);
  background: radial-gradient(circle, var(--gradient-dark) 0%, var(--gradient-red) 20%, var(--gradient-dark) 90%);
}

.player-info {
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 2;
  text-align: center;
  padding: 20px;
  border: 4px solid var(--light-blue);
  color: var(--light);
  background: var(--player-card-primary);
  box-shadow: inset 0 0 20px 4px var(--dark);
  transition: all 2s;
  
  align-self: center;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;
  transform-style: preserve-3d;
}

#player-one {
  grid-column: 2;
  grid-row: 2;
  transform-origin: left;
  border-right-width: 2px;
  border-radius: 40px 0 0 40px;
}

#player-two {
  grid-column: 3;
  grid-row: 2;
  transform-origin: right;
  border-left-width: 2px;
  border-radius: 0 40px 40px 0;
}

#player-one.removed {
  animation: close-left 1s linear forwards;
}

#player-two.removed {
  animation: close-right 1s linear forwards;
}

.player-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  backface-visibility: hidden;
}

.player-info h2 {
  backface-visibility: hidden;
  position: relative;
  transition: color 0.3s ease-in-out;
}

#player-one h2 {
  color: var(--marker-color-red);
  --box-shadow: 0 0 16px 4px var(--marker-color-red);
}

#player-two h2{
  color: var(--marker-color-blue);
  --box-shadow: 0 0 16px 4px var(--marker-color-blue);
}

.player-info h2::after {
  position: absolute;
  content: "";
  width: 50%;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: inherit;
  box-shadow: var(--box-shadow, none);
  transition: all 0.3s ease-in-out;
}

.player-info.ready h2::after {
  width: calc(100% + 40px);
}

.player-info.ready {
  transition: all 2s;
  position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-container > input[type="text"],
.ready-button {
  width: 50%;
  align-self: center;
}

.player-form input[type="text"] {
  height: 32px;
  padding: 4px 8px;
  text-align: center;
  background-color: var(--light-gray);
  color: var(--dark);
  border: none;
  border: 2px solid var(--light);
  box-shadow: inset 0 0 10px ;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1em;
}

.player-form input[type="text"]:focus-visible {
  outline: none;
}

.input-container > label,
.input-container > span {
  font-size: 1.1em;
  font-weight: bold;
}

.input-container {
  position: relative;
}

.input-container:not(:last-of-type)::after {
  position: absolute;
  content: "";
  width: 200px;
  bottom: -30px;
  border-bottom: 1px solid var(--light-blue);
  border-top: 1px solid var(--light-blue);
  box-shadow: 0 0 10px 2px var(--light-blue);
}

.color-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 12px ;
}

.marker-color {
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  background-color: var(--dark);
}

.marker-color::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
}

.marker-red {
  border-color: var(--marker-color-red);
}

.marker-red:checked::after {
  background-color: var(--marker-color-red);
  transform: translate(-50%, -50%) scale(1);
}

.marker-orange {
  border-color: var(--marker-color-orange);
}

.marker-orange:checked::after {
  background-color: var(--marker-color-orange);
  transform: translate(-50%, -50%) scale(1);
}

.marker-yellow {
  border-color: var(--marker-color-yellow);
}

.marker-yellow:checked::after {
  background-color: var(--marker-color-yellow);
  transform: translate(-50%, -50%) scale(1);
}

.marker-green {
  border-color: var(--marker-color-green);
}

.marker-green:checked::after {
  background-color: var(--marker-color-green);
  transform: translate(-50%, -50%) scale(1);
}

.marker-blue {
  border-color: var(--marker-color-blue);
}

.marker-blue:checked::after {
  background-color: var(--marker-color-blue);
  transform: translate(-50%, -50%) scale(1);
}

.marker-purple {
  border-color: var(--marker-color-purple);
}

.marker-purple:checked::after {
  background-color: var(--marker-color-purple);
  transform: translate(-50%, -50%) scale(1);
}

.marker-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ready-button {
  height: 32px;
  border-radius: 12px;
  border: 3px solid var(--marker-color-blue);
  background-color: var(--black);
  color: var(--light);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.ready-button:hover {
  background-color: var(--light);
  color: var(--black);
}

#player-one .ready-button {
  border-color: var(--marker-color-red);
  box-shadow: 0 0 12px 3px var(--marker-color-red);
}

#player-two .ready-button {
  border-color: var(--marker-color-blue);
  box-shadow: 0 0 12px 3px var(--marker-color-blue);
}

.scoreboard,
.instructions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  color: var(--light);
  box-shadow: inset 0 0 20px 0 var(--dark);
  border: 4px solid var(--light-blue);
  background-color: var(--player-card-primary);
  border-radius: 20px;
  
  transition: all 0.5s ease-in-out;
  height: 0%;
  padding: 0px;
  border-width: 0;
  opacity: 0;
}

.instructions {
  align-self: end;
}

.scoreboard.visible,
.instructions.visible {
  transition: all 0.5s ease-in-out;
  height: 100%;
  padding: 10px;
  border-width: 4px;
  opacity: 1;
}

.scoreboard > *,
.instructions > * {
  height: max-content;
}

.scoreboard {
  grid-column: 2 / 4;
  grid-row: 1;
}

.instructions {
  grid-column: 2 / 4;
  grid-row: 3;
}

.gameboard {
  grid-column: 2 / 4;
  grid-row: 2;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  align-self: center;
  aspect-ratio: 1 / 1;
  background-color: var(--player-card-primary);
  border: 4px solid var(--light-blue);
  border-radius: 40px;
  box-shadow: inset 0 0 20px 0 var(--dark);
}

.cell {
  position: relative;
  background: var(--light-blue);
  border: 2px solid var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 20px 0 var(--dark);
}

.cell[data-row="0"][data-column="0"] {
  border-radius: 20px 0 0 0;
}

.cell[data-row="0"][data-column="2"] {
  border-radius: 0 20px 0 0;
}

.cell[data-row="2"][data-column="0"] {
  border-radius: 0 0 0 20px;
}

.cell[data-row="2"][data-column="2"] {
  border-radius: 0 0 20px 0;
}

.cell[data-row="0"] {
  border-top-width: 4px;
}

.cell[data-row="2"] {
  border-bottom-width: 4px;
}

.cell[data-column="0"] {
  border-left-width: 4px;
}

.cell[data-column="2"] {
  border-right-width: 4px;
}

.x > svg,
.o > svg {
  width: 70%;
  height: 70%;
}

.line {
  stroke-width: 9;
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: draw 0.5s ease forwards;
}

.circle {
  stroke-width: 9;
  fill: none;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  animation: draw 1s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes ready-left {
  0% {
    background: linear-gradient(90deg, var(--light-gray) 0%, var(--light-gray) 100%);
  }
  
  50% {
    background: linear-gradient(90deg, var(--light-gray) 0%, var(--light-green) 60%);
  }
  
  100% {
    background: linear-gradient(90deg, var(--light-gray) 0%, var(--light-green) 0%);
  }
}

@keyframes close-left {
  0% {
  }
  
  30% {
    transform: rotateY(-120deg);
  }
  
  60% {
    transform: rotateY(-240deg);
    z-index: -1;
  }

  100% {
    transform: rotateY(-360deg);
    z-index: -1;
    display: none;
  }
}

@keyframes close-right {
  0% {
  }
  
  30% {
    transform: rotateY(120deg);
  }
  
  60% {
    transform: rotateY(240deg);
    z-index: -1;
  }

  100% {
    transform: rotateY(360deg);
    z-index: -1;
    display: none;
  }
}