*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
}

body {
  height: 100vh;
  background-color: lightcoral;
  display: grid;
  grid-template-rows: minmax(60px, 6%) 1fr minmax(30px, 4%);
  overflow-x: hidden;
}

.header,
.footer {
  background-color: antiquewhite;
}

.content {
  padding: 40px 80px;
  display: grid;
  grid-template-columns: 1fr minmax(180px, 300px) minmax(180px, 300px) 1fr;
  grid-template-rows: 1fr minmax(360px, 600px) 1fr;
  align-content: center;
  perspective: 1000px;
}

.player-info {
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 2;
  text-align: center;
  padding: 40px 20px;
  border: 4px solid black;
  background-color: lightgray;
  
  align-self: center;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;
  transform-style: preserve-3d;
}

#player-one {
  grid-column: 2;
  grid-row: 2;
  transform-origin: left;
  border-right-width: 2px;
}

#player-two {
  grid-column: 3;
  grid-row: 2;
  transform-origin: right;
  border-left-width: 2px;
}

.player-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  backface-visibility: hidden;
}

.player-info h2 {
  backface-visibility: hidden;
}

.player-info.ready {
  /* READY STYLING FOR PLAYERS */
  background-color: darkgreen;
}

#player-one.removed {
  animation: close-left 2s linear forwards;
}

#player-two.removed {
  animation: close-right 2s linear forwards;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container > label,
.input-container > span {
  font-size: 1.1em;
  font-weight: bold;
}

.color-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 12px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.option > label {
  color: #444;
}

.gameboard {
  grid-column: 2 / 4;
  grid-row: 2;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: lightgoldenrodyellow;
  justify-content: center;
  align-content: center;
  align-self: center;
  aspect-ratio: 1 / 1;
}

.cell {
  position: relative;
  background: lightblue;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x > svg,
.o > svg {
  width: 70%;
  height: 70%;
}

.line {
  stroke-width: 7;
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: draw 1s ease forwards;
}

.circle {
  stroke-width: 7;
  fill: none;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  animation: draw 2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes close-left {
  0% {
  }
  
  30% {
    transform: rotateY(-120deg);
  }
  
  60% {
    transform: rotateY(-240deg);
    z-index: -1;
  }

  100% {
    transform: rotateY(-360deg);
    z-index: -1;
    display: none;
  }
}

@keyframes close-right {
  0% {
  }
  
  30% {
    transform: rotateY(120deg);
  }
  
  60% {
    transform: rotateY(240deg);
    z-index: -1;
  }

  100% {
    transform: rotateY(360deg);
    z-index: -1;
    display: none;
  }
}